
<div class="container-fluid user-form">

  <h3 class="title">Registration Form</h3>

  <form [formGroup]="registrationForm" >

    <div class="form-group">
      <label for="userName">Username</label>
      <input type="text" name="userName" id="userName"
             formControlName="userName" value=""
             class="form-control"
             [class.is-invalid]="registrationForm.get('userName').invalid &&
                                 registrationForm.get('userName').touched">
      <div *ngIf="registrationForm.get('userName').invalid &&
                  registrationForm.get('userName').touched">
                  <small *ngIf="registrationForm.get('userName').errors?.required"
                         class="text-danger">
                         username is required.
                  </small>
                  <small *ngIf="registrationForm.get('userName').errors?.minlength"
                         class="text-danger">
                         username is too short. minimum length 3.
                  </small>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password"
             formControlName="password" value=""
             class="form-control"
             [class.is-invalid]="registrationForm.get('password').invalid &&
                                 registrationForm.get('password').touched">
      <small>your password must respect the password requirements </small>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <input type="password" name="confirmPassword" id="confirmPassword"
             formControlName="confirmPassword" value=""
             class="form-control"
             [class.is-invalid]="registrationForm.get('confirmPassword').invalid &&
                                 registrationForm.get('confirmPassword').touched">
      <small>should be the same password</small>
    </div>

    <button type="submit" name="btn-registration" id="btn-registration"
            class="btn btn-primary">Register</button>

  </form>

  <!-- {{ registrationForm.value | json }} -->

</div>
