
<div id="id-block-container" class="d-flex align-items-center w-100 justify-content-center">
  <div id="id-block" class="w-75">
    <h3>Identification</h3>
    <form #userForm="ngForm">
      {{ userForm.value | json }}
      <div class="form-group">
        <label for="email">Adresse E-mail</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
        placeholder="Email" ngModel>
        <!-- <small id="emailHelp" class="form-text text-muted">Votre email est confidentiel</small> -->
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" id="password" placeholder="Mot de passe"
        name="password" ngModel>
      </div>
      <!-- <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button type="button" class="btn btn-primary" (click) = "afficher(email.value)">Submit</button>
    </form>
  </div>
</div>
