html, body {
  height: 100% !important ;
  margin: 0 ;
}

.title {
  font-size: 1.75em;
  font-weight:normal;
  margin: 1em 0em;
}

.user-form {
  width:500px;
}

.user-form .form-group {
  margin-bottom: 1.25em;
}

.message-block {
  height: 200px;
  width: 500px;
  position: relative;
  /* border: 3px solid green; */
}

.message-block p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    /* background-color: red ; */
  }

  button {
      width: 100% !important;
      /* background-color: yellowgreen !important; */
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    /* background-color: blue ; */
  }

  button {
    width: 50% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    /* background-color: yellow ; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    /* background-color: green ; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    /* background-color: gray ; */
  }

  button {
      /* width: 200px !important; */
      margin: 20px 0 !important;
      /* background-color: yellowgreen !important; */
    }
}
