#id-block {
  width: 400px;
}
#id-block.button {
    width: 200px !important;
    margin: 20px 0 !important;
    background-color: yellowgreen !important;
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    /* background-color: red ; */
  }

  button {
      width: 100% !important;
      /* background-color: yellowgreen !important; */
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    /* background-color: blue ; */
  }

  button {
    width: 50% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    /* background-color: yellow ; */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    /* background-color: green ; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    /* background-color: gray ; */
  }

  button {
      width: 200px !important;
      margin: 20px 0 !important;
      /* background-color: yellowgreen !important; */
    }
}
